<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>PoolMJ</title>
<head>

<h1 center>....Deteccion de Sensores.......    :o</h1>
<p>___________________________________</p>


<h1> Sensor 1</h1>

<h2><b>El estado prendido/apagado S1:</h> <h id="estado1"</b></h2>

<h1> Sensor 2</h1>

<h2><b>El estado prendido/apagado S2:</h> <h id="estado2"</b></h2>




<button id = "sensor1"type="button" onmouseup="SENSOR_1()">Sensor 1</button>
<button id = "sensor2"type="button" onmouseup="SENSOR_2()">Sensor 2</button>
<br />






</body>
</html>