<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>PoolMJ</title>
<head>

<h1 center>....AAAAAAAAAAAAAAAAAAAAAA.......    :o</h1>
<p>___________________________________</p>


<h2><b>Hora:</h> <h id="hora"</b></h2>


<h2> LED_1</>

<button id = "led1P"type="button" onclick="LED_PRENDIDO_1()">Encender</button>
<button id = "led1A"type="button" onclick="LED_APAGADO_1()">Apagar</button>
<br />






</body>
</html>