<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>PoolMJ</title>
<head>

<h1 center>....LED ON_OFF.......    :o</h1>
<p>___________________________________</p>


<h1> LED Amarillo</h1>

<h2><b>El estado prendido/apagado LED:</h> <h id="estado"</b></h2>




<button id = "ledP"type="button" onclick="LED_PRENDIDO()">Encender</button>
<button id = "ledA"type="button" onclick="LED_APAGADO()">Apagar</button>
<br />






</body>
</html>